/* Reemplaza '.detailText' si encontraste otra clase para el vídeo */
.detailText {
    background-color: #4a5a6a;
    color: white !important; /* El !important fuerza el estilo */
    padding: 3px 8px;
    border-radius: 5px;
    font-weight: bold;
    margin: 2px 4px 2px 0; /* Ajusta el margen */
    display: inline-block;
}

/* Reemplaza '.mediaSource' si encontraste otra clase para el audio y sus detalles */
.mediaSource {
    background-color: #4a5a6a;
    color: white !important;
    padding: 3px 8px;
    border-radius: 5px;
    font-weight: bold;
    margin: 2px 4px 2px 0;
    display: inline-block;
}
